<%= form_for :revenue, url: transaction_add_path, remote: true do |form| %>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <div class="radio-inline">
          <label>
            <input type="radio" name="revenue[type]" id="revenueRadio" value="revenue" checked>Revenue
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" name="type" id="expenseRadio" value="expense">Expense
          </label>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label for="exampleInputEmail1">Date</label>
        <div class="input-with-icon">
          <input type="text" id="formEntryDate" name="revenue[date]" class="form-control" data-provide="datepicker">
          <span class="icon icon-calendar"></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label>Invoice Number</label>
        <input type="text" class="form-control" id="form_invoice_number" name="revenue[invoice_number]" placeholder="10048">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label>Category</label>
        <input type="text" class="form-control" name="revenue[category]" id="form_type" placeholder="Consulting Fee/Product Sale/Rental Expense">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label>Client/Supplier</label>
        <input type="text" class="form-control" name="revenue[vendor]" id="form_vendor_name" placeholder="FedEx/Office Depot">
      </div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6">
      <div class="form-group">
        <label>Country</label>
        <input type="text" name="revenue[country]" class="form-control" id="form_country" placeholder="(Optional for Expense)">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Description</label>
    <textarea class="form-control" name="revenue[description]" rows="3" placeholder="Computer repair fee"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Quantity</label>
    <input type="number" name="revenue[quantity]" min=0 class="form-control" id="form_quantity" placeholder="(Optional for Expense)">
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Total Price</label>
    <input type="number" name="revenue[total]" min=0 class="form-control" id="form_total" placeholder="90500">
  </div>

  <%= form.file_field :invoice_jpg %>

  <button type="submit" class="btn btn-default">Submit</button>


<% end %>