  <div class="dashhead">
   <div class="dashhead-titles">
    <h6 class="dashhead-subtitle">Dashboards</h6>
    <h2 class="dashhead-title">交易资料</h2>
   </div>


  <div class="btn-toolbar dashhead-toolbar">
    <div class="btn-toolbar-item input-with-icon">
      <div class="input-group input-daterange date-search">
          <input type="text" class="form-control" id="datepicker-begin" data-provide="datepicker">
          <span class="input-group-addon form-control">至</span>
          <input type="text" class="form-control" id="datepicker-end" data-provide="datepicker">
          <button type="submit" id="submit-datepicker" class="btn btn-default">更新</button>
      </div>
    </div>
  </div>
</div>



<div class="hr-divider">
  <ul class="table-tabs nav nav-pills hr-divider-content hr-divider-nav">
    <li id="all-tab" class="active">
      <a href="#all">全部</a>
    </li>
    <li id="revenue-tab">
      <a href="#revenue">收入</a>
    </li>
    <li id="expense-tab">
      <a href="#expense">开支</a>
    </li>
  </ul>
</div>

<div class="flextable table-actions">
  <div class="flextable-item">
    <div class="btn-group">
      <button type="submit" data-toggle="modal" data-target="#addEntryModal" id="add-entry" class="btn btn-primary-outline">
        <span class="icon icon-plus"></span>
      </button>
    </div>
  </div>
</div>

<div class="table-full">
  <div class="table-responsive" id="history-table-container">
    <%= render partial: 'table', layout: false, locals: {records: @records} %>
  </div>
</div>

<div class="text-center">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="active"><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-invoice="sample_invoice.jpg" data-target="#myModal">
  Test
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addEntryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加账面</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
