  <div class="dashhead">
    <div class="dashhead-titles">
      <h6 class="dashhead-subtitle">Dashboards</h6>
      <h2 class="dashhead-title">Overview</h2>
    </div>

    <div class="btn-toolbar dashhead-toolbar">
      <div class="btn-toolbar-item input-with-icon">
        <input type="text" value="01/01/15 - 01/08/15" class="form-control" data-provide="datepicker">
        <span class="icon icon-calendar"></span>
      </div>
    </div>
  </div>

  <hr class="m-t">

  <div id="stacked-chart-container">
    <h2 class="pull-left">Profits Vs. Expenses</h2>
    <div class="btn-group dashhead-toolbar-item btn-group-thirds pull-right">
      <button type="button" class="btn btn-primary-outline active" id="stacked-7">Week</button>
      <button type="button" class="btn btn-primary-outline" id="stacked-14">2 Weeks</button>
      <button type="button" class="btn btn-primary-outline" id="stacked-30">Month</button>
    </div>
    <div id="chart" style="width:100%">
      <svg id="chart" style="height:500px">
    </div>
  </div>

  <div class="hr-divider m-t-md m-b">
    <h3 class="hr-divider-content hr-divider-heading">Summary</h3>
  </div>

  <div class="row text-center m-t-lg">
    <div class="col-sm-4 m-b-md">
      <div class="w-lg m-x-auto">
        <div id="pie-chart-7">
          <svg class="pie-chart" style="height:300px">
        </div>
      </div>
      <strong class="text-muted">1-Week</strong>
    </div>
    <div class="col-sm-4 m-b-md">
      <div class="w-lg m-x-auto">
        <div id="pie-chart-14">
          <svg class="pie-chart" style="height:300px">
        </div>
      </div>
      <strong class="text-muted">2-Week</strong>
    </div>
    <div class="col-sm-4 m-b-md">
      <div class="w-lg m-x-auto">
        <div id="pie-chart-30">
          <svg class="pie-chart" style="height:300px">
        </div>
      </div>
      <strong class="text-muted">1-Month</strong>
    </div>
  </div>

<hr class="m-t">


