<!DOCTYPE html>
<html>
<head>
  <title>Mortar Analytics</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="with-iconav">

    <nav class="iconav">
      <a class="iconav-brand" href="/">
        <span class="icon icon-leaf iconav-brand-icon"></span>
      </a>
      <div class="iconav-slider">
        <ul class="nav nav-pills iconav-nav">
          <li class="active">
            <a href="/" title="Overview" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-home"></span>
              <small class="iconav-nav-label visible-xs-block">Overview</small>
            </a>
          </li>
          <li >
            <a href="/history/index" title="Order history" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-text-document"></span>
              <small class="iconav-nav-label visible-xs-block">History</small>
            </a>
          </li>
          <li >
            <a href="../fluid/index.html" title="Fluid layout" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-globe"></span>
              <small class="iconav-nav-label visible-xs-block">Fluid layout</small>
            </a>
          </li>
          <li>
            <a href="../icon-nav/index.html" title="Icon-nav layout" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-area-graph"></span>
              <small class="iconav-nav-label visible-xs-block">Icon nav</small>
            </a>
          </li>
          <li >
            <a href="../docs/index.html" title="Docs" data-toggle="tooltip" data-placement="right" data-container="body">
              <span class="icon icon-list"></span>
              <small class="iconav-nav-label visible-xs-block">Docs</small>
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </div>

</body>
</html>
